@model Rexfa.Plugin.WeChat.NopMiniProgram.Models.NopMiniProgramModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<script>
	@*$(document).ready(function () {
        $("#@Html.IdFor(model => model.PassProductNamesAndTotals)").click(togglePassProductNamesAndTotals);
	    togglePassProductNamesAndTotals();
	});

    function togglePassProductNamesAndTotals() {
        warningValidation('@Url.Action("RoundingWarning", "PaymentAlphaPayQRCode")', '@Html.NameFor(model => model.PassProductNamesAndTotals)',
            { passProductNamesAndTotals: $('#@Html.IdFor(model => model.PassProductNamesAndTotals)').is(':checked') });
    }*@
</script>

<form asp-controller="NopMiniProgram" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(T("Plugins.Misc.RexNopMiniProgram.Instructions", $"{webHelper.GetStoreLocation()}Plugins/NopMiniProgram/TestHandler"))
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WXAppID_OverrideForStore" asp-input="WXAppID" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WXAppID" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WXAppID" />
                        <span asp-validation-for="WXAppID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WXAppName_OverrideForStore" asp-input="WXAppName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WXAppName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WXAppName" />
                        <span asp-validation-for="WXAppName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WXAppSecret_OverrideForStore" asp-input="WXAppSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WXAppSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WXAppSecret" />
                        <span asp-validation-for="WXAppSecret"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WXAppVerifyCode_OverrideForStore" asp-input="WXAppVerifyCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WXAppVerifyCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WXAppVerifyCode" />
                        <span asp-validation-for="WXAppVerifyCode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>